<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- Java Timer Task를 사용하지 않은 예제 -->
	<!-- 1. 일정시간 마다 수행할 업무로직을 갖고있는 클래스 지정 -->
	<bean id="orgtask" class="test.spring.timer.OrgTask" />
	<!-- 2. 1번을 일정시간마다 실행시키기위해 MethodInvokingTimerTaskFactoryBean에 1번클래스의 객체와 실행메소드 지정 -->
	<bean id="schedulerTask" class="org.springframework.scheduling.timer.MethodInvokingTimerTaskFactoryBean">
		<property name="targetObject" ref="orgtask" />
		<property name="targetMethod" value="runtask" />
	</bean>
	<!-- 3. 2번객체의 실행주기와 최초 지연시간 설정 delay - 객체 실행간 지연시간(ms) period - 실행주기(ms) -->
	<bean id="timerTask" class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask" ref="schedulerTask" />
		<property name="delay" value="1000" />
		<property name="period" value="1000" />
	</bean>
	<!-- 4. 1,2,3번에서 설정한 JOB을 실행시키기 위한 Bean 설정 -->
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref local="timerTask" />
			</list>
		</property>
	</bean>
</beans>